<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <title>Component 2</title>
  <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="css/animate.min.css">
  <link rel="stylesheet" href="css/style.css">

</head>

<body>
  <section class="wevi-component-wrapper" id="wevi-component-8">
    <div class="container overflow-hidden">
      <div class="wevi-component d-flex ">
        <div class="wevi-component--image animate__animated animate__fadeInLeft animate__slow">
          <img src="images/img.jpg" alt="">
        </div>
        <div class="wevi-component--descripton animate__animated animate__fadeInRight animate__slow">
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Esse, iure enim reiciendis maxime repudiandae
            fuga ipsam blanditiis harum accusantium error! Quis, hic? Cupiditate facilis libero temporibus debitis
            ipsam. </p>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Esse, iure enim reiciendis maxime repudiandae
            fuga ipsam blanditiis harum accusantium error! Quis, hic? Cupiditate facilis libero temporibus debitis
            ipsam.</p>
        </div>
      </div>
      <div class="wevi-component d-flex ">
        <div class="wevi-component--image animate__animated animate__fadeInLeft animate__slow">
          <img src="images/img.jpg" alt="">
        </div>
        <div class="wevi-component--descripton animate__animated animate__fadeInRight animate__slow">
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Esse, iure enim reiciendis maxime repudiandae
            fuga ipsam blanditiis harum accusantium error! Quis, hic? Cupiditate facilis libero temporibus debitis
            ipsam. </p>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Esse, iure enim reiciendis maxime repudiandae
            fuga ipsam blanditiis harum accusantium error! Quis, hic? Cupiditate facilis libero temporibus debitis
            ipsam.</p>
        </div>
      </div>
    </div>
  </section>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="../../Assets/js/bootstrap.min.js"></script>
<script src="../../Assets/js/wevi.js"></script>

</html>