@charset "UTF-8";
@import '../../../Assets/sass/style.scss';

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wevi-comment {
    max-width: 500px;
    background: #ffffff;
    padding: 4px 12px;

    .comment-box {
        display: flex;
        margin-bottom: 10px;

        &.comment-box--lv1 {
            margin-top: 4px;
            padding: 0 12px 4px;
        }

        &.comment-box-child {
            padding: 8px 0 0 54px;

            .user {
                width: 20px;

                img {
                    width: 20px;
                    height: 20px;
                }
            }
        }

        .comment-wrap {
            .actions {
                font-size: 12px;
                margin-bottom: 3px;
                margin-left: 10px;
                min-height: 15px;
                padding-top: 3px;
                height: 21px;
                line-height: 21px;

                a {
                    color: #385898;
                    display: inline-block;
                    margin-right: 5px;

                    &.heart {
                        color: rgb(243, 62, 88);
                        font-weight: bold;
                    }

                    &.time {
                        color: #606770;
                    }
                }
            }
        }

        .comment {
            color: #1c1e21;
            border-radius: 18px;
            white-space: normal;
            word-break: break-word;
            line-height: 16px;
            font-size: 13px;
            padding: 8px 10px;
            background-color: #f2f3f5;
            position: relative;

            .name {
                color: #385898;
                cursor: pointer;
                text-decoration: none;
                font-weight: 600;
            }

            .icon {
                background: #fff;
                border-radius: 10px;
                box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .2);
                color: #8d949e;
                font-size: 11px;
                font-weight: normal;
                padding: 2px 1px 2px 2px;
                display: inline-block;
                position: absolute;
                bottom: -10px;
                right: 0;
                z-index: 2;
                cursor: pointer;

                span {
                    display: inline-block;
                    font-size: 11px;
                    line-height: 16px;
                    color: #777d88;
                    padding: 0 3px 0 2px;
                    white-space: nowrap;
                    vertical-align: middle;
                }
            }
        }

        .user {
            margin-right: 6px;
            flex-shrink: 0;
            margin-top: 2px;

            img {
                width: 32px;
                height: 32px;
                border-radius: 50%;
            }
        }
    }

    a {
        &:hover {
            text-decoration: underline !important;
        }
    }

    @media (max-width: 767px) {
        .comment-box {
            .comment {
                padding: 6px 12px 7px 12px;
            }
        }
    }
}