<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <title>Component 2</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="css/style.css" />
</head>

<body>
  <section>
    <div class="wevi-comment">
      <div class="comment-box comment-box-lv1">
        <div class="user">
          <a href=""><img src="images/bd16c57405f3142d4cc740e0ee44d536.jpg" width="100%" alt=""></a>
        </div>
        <div class="comment-wrap">
          <div class="comment">
            <a href="" class="name">Thịnh Buồi</a> <span>Tạm biệt gấu misa nhé tạm biệt thỏ trắng xinh xinh nay em nằm nhà
              rồi</span>
            <div class="icon">
              <img src="images/icon-haha-fb.svg" width="16px" height="16px" alt="">
              <span>2</span>
            </div>
          </div>
          <div class="actions">
            <a href="">Thích</a>
            <a href="">Trả Lời</a>
            <a href="" class="time" type="button" data-toggle="tooltip" data-placement="top" title="Tooltip on top">9 giờ</a>
          </div>
        </div>
      </div>
      <div class="comment-box comment-box-child">
        <div class="user">
          <a href=""><img src="images/bd16c57405f3142d4cc740e0ee44d536.jpg" width="100%" alt=""></a>
        </div>
        <div class="comment">
          <a href="" class="name">Thịnh Buồi</a> <span>Tạm biệt gấu misa nhé tạm biệt thỏ trắng xinh xinh nay em nằm nhà rồi</span>
        </div>
      </div>
    </div>
    <div class="wevi-comment">
      <div class="comment-box comment-box-lv1">
        <div class="user">
          <a href=""><img src="images/bd16c57405f3142d4cc740e0ee44d536.jpg" width="100%" alt=""></a>
        </div>
        <div class="comment-wrap">
          <div class="comment">
            <a href="" class="name">Thịnh Buồi</a> <span>Tạm biệt gấu misa nhé tạm biệt thỏ trắng xinh xinh nay em nằm nhà rồi</span>
            <div class="icon">
              <img src="images/icon-haha-fb.svg" width="16px" height="16px" alt="">
              <img src="images/icon-heart-fb.svg" width="16px" height="16px" alt="">
              <span>2</span>
            </div>
          </div>
          <div class="actions">
            <a href="">Thích</a>
            <a href="" class="heart">Yêu thích</a>
            <a href="">Trả Lời</a>
            <a href="" class="time" type="button" data-toggle="tooltip" data-placement="top" title="Tooltip on top">9 giờ</a>
          </div>
        </div>
      </div>
      <div class="comment-box comment-box-child">
        <div class="user">
          <a href=""><img src="images/bd16c57405f3142d4cc740e0ee44d536.jpg" width="100%" alt=""></a>
        </div>
        <div class="comment">
          <a href="" class="name">Thịnh Buồi</a> <span>Tạm biệt gấu misa nhé tạm biệt thỏ trắng xinh xinh nay em nằm nhà rồi</span>
        </div>
      </div>
    </div>

  </section>
</body>



<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="js/main.js"></script>

</html>