@import '../../../Assets/sass/style.scss';

* {
  font-family: 'Nunito Sans', sans-serif;
}

#wevi-component-2 {
  .wevi-col {
    align-items: stretch;
    display: flex;
  }

  .wevi-col-inner {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
  }

  .wevi-img-size-cover {
    padding-top: 75%;
    height: 100%;
    width: 100%;
    position: relative;

    img {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .icon-text-box-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 10%;
    margin-bottom: 10%;
  }

  .text-box {
    text-align: center;

    p {
      font-size: 14px;
    }
  }

  .icon-box {
    display: flex;
    justify-items: center;

    .icon-box-img {
      width: 100px;
      height: 100px;
      position: relative;
      flex: 0 0 auto;

      .icon {
        position: absolute;
        width: 100%;
        padding-top: 100%;
        overflow: hidden;
        height: 0;

        svg {
          height: 100%;
          position: absolute;
          left: 0;
          object-fit: cover;
          padding: 0;
          top: 50%;
          margin: 0;
          transform: translateY(-50%);
          width: 60%;
          margin-left: 20%;
          margin-right: 20%;
        }
      }
    }
  }
}