@charset "UTF-8";
@import "../../../Assets/sass/style.scss";

body {
  font-size: 14px;
  color: #000000;
  font-family: "Montserrat", sans-serif;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#wevi-project {
  img {
    max-width: 100%;
  }

  &.style-1 {
    .project-wrap {
      .project-item {
        @media (min-width: 992px) {
          @extend .col-lg-6;
          display: flex;
          align-items: center;
          .image {
            width: 45%;
            flex-shrink: 0;
            padding-bottom: 56.25%;
          }
          .desc {
            flex: 1;
            padding: 0 0 0 30px;
          }
        }
      }
    }
  }
  .project-head {
    max-width: 600px;
    margin: 0 auto;
  }

  .project-wrap {
    @extend .row;
    .project-item {
      @extend .col-12, .col-sm-6, .col-xl-3;
      margin-bottom: 20px;

      .image {
        position: relative;
        padding-bottom: 62.25%;

        img {
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          object-fit: cover;
          object-position: center;
        }
      }

      .desc {
        padding: 20px 15px 0;

        h3 {
          font-size: 20px;
          line-height: 30px;
          text-transform: uppercase;
          margin-bottom: 15px;
          font-weight: 600;

          a {
            color: #000000;
          }
        }

        p {
          display: -webkit-box;
          overflow: hidden;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
        }

        .link {
          display: inline-block;
          border-radius: 50px;
          padding: 10px 15px;
          background: #000000;
          color: #ffffff;
          font-size: 11px;
          text-transform: uppercase;
          letter-spacing: 4px;
          border: 1px solid transparent;

          &:hover {
            border: 1px solid #000000;
            color: #000;
            background: #ffffff;
          }

          &:active {
          }

          &:focus {
          }
        }
      }
    }
  }
}
