<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <title>Component 5</title>
  <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../../Assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="../../Assets/css/wevi.min.css">
  <link rel="stylesheet" href="./css/style.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="../../Assets/js/bootstrap.min.js"></script>
  <script src="../../Assets/js/wevi.js"></script>
</head>
<body>
  <div class="container">
    <section class="wevi-component-wrapper style-1" id="wevi-component-5">
      <div class="wevi-component">
        <div class="component-title">
          <h2>About Us</h2>
          <p class="component-subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="icon-box-item">
              
            </div>
          </div>
          <div class="col-md-4">
            
          </div>
          <div class="col-md-4">
            
          </div>
        </div>
      </div>
    </section>
  </div>
</body>
</html>