<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <title>Component 6</title>
  <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="css/style.css">
</head>

<body>
  <section class="wevi-component-wrapper" id="wevi-component-6">
    <div class="container">
      <div class="wevi-component">
        <h3 class="component-subtitle text-center">Lorem ipsum, dolor sit <strong> amet consectetur</strong> adipisicing
          elit?</h3>
        <div class="row">
          <div class="col-sm-6 col-lg-4">
            <div class="wevi-component--item">
              <div class="image"><img src="images/icon1.png" alt=""></div>
              <div class="content">
                <div class="number"><span class="counter">100</span>%</div>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugiat, nemo?</p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4">
            <div class="wevi-component--item">
              <div class="image"><img src="images/icon2.png" alt=""></div>
              <div class="content">
                <div class="number"><span class="counter">100</span>%</div>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugiat, nemo?</p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4">
            <div class="wevi-component--item">
              <div class="image"><img src="images/icon3.png" alt=""></div>
              <div class="content">
                <div class="number"><span class="counter">53</span>%</div>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugiat, nemo?</p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4">
            <div class="wevi-component--item">
              <div class="image"><img src="images/icon4.png" alt=""></div>
              <div class="content">
                <div class="number"><span class="counter">100</span>%</div>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugiat, nemo?</p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4">
            <div class="wevi-component--item">
              <div class="image"><img src="images/icon5.png" alt=""></div>
              <div class="content">
                <div class="number"><span class="counter">69</span>%</div>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugiat, nemo?</p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4">
            <div class="wevi-component--item">
              <div class="image"><img src="images/icon6.png" alt=""></div>
              <div class="content">
                <div class="number"><span class="counter">100</span>%</div>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugiat, nemo?</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="../../Assets/js/bootstrap.min.js"></script>
<script src="../../Assets/js/wevi.js"></script>
<script src="../component-6/js/main.js"></script>

</html>