@charset "UTF-8";
@import '../../../Assets/sass/style.scss';


body {
    font-size: 14px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    max-width: 100%;
}

#gallery {
    width: 100%;

    &.style-1 {
        @extend .container;
    }

    &.style-2 {}

    .gallery-nav {
        margin-bottom: 30px;

        li a {
            color: #333333;
            font-size: 16px;
            display: inline-block;
            padding: 6px 12px;
        }
    }

    .gallery-image {

        .image {
            width: 25%;

            img {
                width: 100%;
                height: 100%;
                object-position: center;
                object-fit: cover;
            }
        }

    }
}