@charset "UTF-8";
@import '../../../Assets/sass/style.scss';


body {
    font-size: 14px;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
}

img {
    max-width: 100%;
}

#text-block {
    &.style-2 {
        .wevi-component {
            @extend .col-lg-7;
            margin: 0 auto;
        }
    }

    .wevi-component {
        text-align: center;
        font-size: 16px;
    }
}