<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <title>Component 4</title>
  <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/style.css">

</head>

<body>
  <div class="container">
    <section class="wevi-component-wrapper style-1" id="wevi-component-4">
      <div class="wevi-component">
        <div class="wevi-row">
          <div class="wevi-col">
            <div class="component-content-box">
              <div class="component-title">
                <h2>About Us</h2>
                <p class="component-subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              </div>
              <p class="component-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur
                hendrerit, leo vitae interdum pretium, tortor risus dapibus tortor, eu suscipit orci leo sed nisl.
                Integer et ipsum eu nulla auctor mattis sit amet in diam. Vestibulum non ornare arcu. Class aptent
                taciti sociosqu ad…</p>
              <a href="#" class="wevi-button wevi-button-rounded wevi-button-dark">Read more</a>
            </div>
          </div>
          <div class="wevi-col">
            <div class="component-media-box">
              <div class="wevi-image image-ratio-4-3">
                <img src="./images/gallery-1.jpg" title="banner" alt="banner">
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="../../Assets/js/bootstrap.min.js"></script>
<script src="../../Assets/js/wevi.js"></script>

</html>