<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <title>Component 2</title>
  <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="../../../Assets/css/bootstrap.css" />
  <link rel="stylesheet" href="../../../Assets/css/wevi.css" />
  <link rel="stylesheet" href="css/style.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="../../../Assets/js/bootstrap.min.js"></script>
  <script src="../../../Assets/js/wevi.js"></script>
</head>

<body>
  <div class="container py-5">
    <section class="wevi-component-wrapper style-1" id="wevi-component">
      <div class="wevi-row">
        <div class="wevi-col">
          <div class="article">
            <a class="article_image" href="">
              <img src="images/f137-370x250.jpg" alt="" />
            </a>
            <div class="article_content">
              <h3 class="title">
                <a href="">How to Make Cappuccino without a Machine</a>
              </h3>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Tempore id commodi accusantium tenetur neque, natus possimus
                eos nisi officia provident.
              </p>
              <div class="entry d-flex justify-content-between align-items-center">
                <div>
                  <img src="images/tf138-370x250.jpg" alt="" /><a href="">Ruby Staff</a>
                </div>
                <a class="Ruby Staff" href="">Read more</a>
              </div>
            </div>
          </div>
        </div>
        <div class="wevi-col">
          <div class="article">
            <a class="article_image" href="">
              <img src="images/tf138-370x250.jpg" alt="" />
            </a>
            <div class="article_content">
              <h3 class="title">
                <a href="">How to Make Cappuccino without a Machine</a>
              </h3>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Tempore id commodi accusantium tenetur neque, natus possimus
                eos nisi officia provident.
              </p>
              <div class="entry d-flex justify-content-between align-items-center">
                <div>
                  <img src="images/tf138-370x250.jpg" alt="" /><a href="">Ruby Staff</a>
                </div>
                <a class="Ruby Staff" href="">Read more</a>
              </div>
            </div>
          </div>
        </div>
        <div class="wevi-col">
          <div class="article">
            <a class="article_image" href="">
              <img src="images/f137-370x250.jpg" alt="" />
            </a>
            <div class="article_content">
              <h3 class="title">
                <a href="">How to Make Cappuccino without a Machine</a>
              </h3>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Tempore id commodi accusantium tenetur neque, natus possimus
                eos nisi officia provident.
              </p>
              <div class="entry d-flex justify-content-between align-items-center">
                <div>
                  <img src="images/tf138-370x250.jpg" alt="" /><a href="">Ruby Staff</a>
                </div>
                <a class="Ruby Staff" href="">Read more</a>
              </div>
            </div>
          </div>
        </div>
        <div class="wevi-col">
          <div class="article">
            <a class="article_image" href="">
              <img src="images/tf138-370x250.jpg" alt="" />
            </a>
            <div class="article_content">
              <h3 class="title">
                <a href="">How to Make Cappuccino without a Machine</a>
              </h3>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Tempore id commodi accusantium tenetur neque, natus possimus
                eos nisi officia provident.
              </p>
              <div class="entry d-flex justify-content-between align-items-center">
                <div>
                  <img src="images/tf138-370x250.jpg" alt="" /><a href="">Ruby Staff</a>
                </div>
                <a class="Ruby Staff" href="">Read more</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</body>

</html>